<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#RewriteCond %{HTTP_HOST} ^fukui-pharma.com$ [NC,L]
#RewriteRule ^.*$ - [L]
RewriteCond %{HTTP_HOST} ^fukui\.s1001\.xrea\.com$ [NC]
RewriteRule ^(.*)$ https://fukui-pharma.com%{REQUEST_URI} [R=301,L]
</IfModule>
